<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: heads"></head>
<body>
<div th:replace="fragments :: main_nav"></div>
<div class="container">
    <div class="py-5 text-center">
        스터디 올래 서비스를 사용하려면 인증 이메일을 확인하세요
        <div th:text="${account.getEmail()}"></div>
        <div>
            <p class="btn btn-outline-info" th:href="@{/respone-confirm-email}">인증 이메일 다시 보내기</p>
        </div>
    </div>
</div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>